<div class="body">
  <label style="align-items: center">
    <h1 style="margin-right: 5px">text</h1>
    <input class="input" type="text" [(ngModel)]="textTask" (ngModelChange)="pushName($event)">
    <h1 style="margin-right: 5px">title</h1>
    <input class="input" type="text" [(ngModel)]="titleTask" (ngModelChange)="sendTitle($event)">
  </label>
  <div style="margin-top: 15px; display: flex; justify-content: space-between; align-items: center; width: 100%; height: 50px;">
    <button class="button" (click)="createTaskAndClear()">send</button>
    <button class="button" (click)="clearFields()">reset</button>
  </div>
</div>
