/* You can add global styles to this file, and also import other style files */
body {
  margin: auto;
  margin-top: 8px;
  width: 80%;
}
.app-root {
  display: flex;
  justify-content: space-between;
}
